@keyframes aparecer {
    0% {
        opacity: 0;
        margin-left: 100%;
        width: 300%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}
/* Main */

.mainInicio h1{
    text-align: center;
    font-weight: bold;
    background-image: url(../img/Amasando-masa.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    color: black;
    letter-spacing: 0.1em;
    animation: 2s;
    animation-name: aparecer;
}

.mainInicio h4{
    text-align: center;
    font-size: 60px;
    margin: 20px;
    color: white;
    letter-spacing: 0.1em;
    background-color: black;
}

.mainSabores h1{
    text-align: center;
    background-image: url(../img/Varias\ empanadas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    animation: 2s;
    animation-name: aparecer;
}


.mainContacto h1{
    text-align: center;
    background-image: url(../img/Varias\ empanadas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    animation: 2s;
    animation-name: aparecer;
}

.mainLocales h1{
    text-align: center;
    background-image: url(../img/empanada-carbonara.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    animation: 2s;
    animation-name: aparecer;
}


.mainNosotros h1{
    text-align: center;
    background-image: url(../img/Empanada-jyq.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    animation: 2s;
    animation-name: aparecer;
}

