/* Main */

.mainInicio h1{
    text-align: center;
    font-weight: bold;
    background-image: url(../img/Amasando-masa.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    color: black;
    letter-spacing: 0.1em;
    animation: 2s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:800px) {
    .mainInicio h1{
        font-size: 3rem;
        background-size: cover;
        height: 400px;
        padding-top: 150px;
    }
}

.mainInicio h4{
    text-align: center;
    font-size: 60px;
    margin: 60px;
    color: white;
    letter-spacing: 0.1em;
    background-color: black;
}

.mainSabores h1{
    text-align: center;
    background-image: url(../img/Varias\ empanadas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    animation: 2s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:800px) {
    .mainSabores h1{
        font-size: 3rem;
        background-size: cover;
        height: 400px;
        padding-top: 150px;
    }
}

.mainContacto h1{
    text-align: center;
    background-image: url(../img/Varias\ empanadas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    animation: 2s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:800px) {
    .mainContacto h1{
        font-size: 3rem;
        background-size: cover;
        height: 400px;
        padding-top: 150px;
    }
}

.mainLocales h1{
    text-align: center;
    background-image: url(../img/empanada-carbonara.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    animation: 2s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:800px) {
    .mainLocales h1{
        font-size: 3rem;
        background-size: cover;
        height: 400px;
        padding-top: 150px;
    }
}

.mainNosotros h1{
    text-align: center;
    background-image: url(../img/Empanada-jyq.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    font-size: 130px;
    padding-top: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    animation: 2s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:800px) {
    .mainNosotros h1{
        font-size: 3rem;
        background-size: cover;
        height: 400px;
        padding-top: 150px;
    }
}